<div class="attendance-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Add Attendance</mat-card-title>
        </mat-card-header>

        <form class="example-form">
            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <mat-label>Select a User</mat-label>
                    <mat-select [(ngModel)]="selectedUser" name="user">
                        <mat-option *ngFor="let user of users" [value]="user.userName">
                            {{user.firstName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- <mat-form-field class="example-full-width"> -->
                    <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedOption" name="signOption">
                        <mat-label>Select a Option</mat-label>
                        <br>
                        <mat-radio-button class="radio-button" value="signIn">Sign In</mat-radio-button>
                        <mat-radio-button value="signOut" class="radio-button">Sign Out</mat-radio-button>
                    </mat-radio-group>
                    <br>
                <!-- </mat-form-field> -->
                <!-- <mat-form-field class="example-full-width">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" name="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field> -->
                <mat-form-field class="example-full-width">
                    <mat-label>Set time</mat-label>
                    <input matInput type="datetime-local" [(ngModel)]="selectedDateTime" name="date-time">
                </mat-form-field>
                <!-- <mat-form-field class="example-full-width">
            <mat-label>End kilometers</mat-label>
            <input type="number" matInput [(ngModel)]="endkm" name="end">
          </mat-form-field> -->
            </mat-card-content>
            <button (click)=handleSumbit() mat-stroked-button color="accent" class="btn-block">Add</button>
        </form>
    </mat-card>
</div>