.navbar{
    justify-content: space-between;
    }
     
    mat-sidenav-container{
        height: 87%;
    }
    mat-sidenav {
        padding: 25px;
    }

    mat-toolbar {
        height: 13;
    }
    
    
    .my-app-name {
    margin:20rem;
    }