<mat-toolbar class="navbar">
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu </mat-icon>
    </button>
    <div class="my-app-name">Reporting System</div>
    
    <span class="nav-tool-items">
      <a mat-button (click)="onLogout()" *ngIf="isLoggedIn;else elseBlock">Logout</a>
      <ng-template #elseBlock>
        <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
        <a mat-button  routerLink="login" routerLinkActive="active"> Log in</a>
      </ng-template>
    </span>
  </mat-toolbar>


<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened=true>
    <mat-list >
        <mat-list-item [routerLink] = "'/home/features/attendance'"> 
            <mat-icon matListIcon>access_time</mat-icon>
            Attendance</mat-list-item>
            <mat-divider></mat-divider>
        <mat-list-item [routerLink] = "'/home/features/petrol'">
            <mat-icon matListIcon>local_gas_station</mat-icon>
            Petrol</mat-list-item>
            <mat-divider></mat-divider>
        <mat-list-item [routerLink] = "'/home/features/about'"> 
            <mat-icon matListIcon>info</mat-icon>
            About</mat-list-item>
            <mat-divider></mat-divider>
        <mat-list-item [routerLink] = "'/home/features/contact'">
            <mat-icon matListIcon>perm_phone_msg</mat-icon>
            Contact Us</mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content> 
    <div style="height: 88vh;">
  
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
  </mat-sidenav-container> 